.table-container {
  width: 98%;
  margin: 20px auto;
  font-family: "Segoe UI", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

thead {
  background: #ddd;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.edit {
  margin-right: 6px;
  padding: 6px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete {
  padding: 6px 10px;
  background: #d00000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit:hover { background: #005ec4; }
.delete:hover { background: #a30000; }
